<div class="content row m-auto mt-5">
  <div
    class="form justify-content-center col-lg-5 col-md-7 col-sm-10 col-xs-12 p-3 m-auto"
  >
    <form action="" class="">
      <h2 class="text-center"><b>Góp ý</b></h2>
      <p class="text-center">
        Chúng tôi trân trọng mọi ý kiến góp ý của bạn. Đừng ngại liên hệ khi bạn
        có bất kỳ ý kiến nào.
      </p>
      <div class="mb-3 mt-3">
        <label for="name" class="form-label"><b>Họ và tên</b></label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Nhập họ và tên"
          name="name"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="email" class="form-label"><b>Email</b></label>
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="Nhập email"
          name="email"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="phone" class="form-label"><b>Số điện thoại</b></label>
        <input
          type="text"
          class="form-control"
          id="phone"
          placeholder="Nhập số điện thoại"
          name="phone"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="content" class="form-label">Nội dung</label>
        <textarea
          class="form-control"
          id="content"
          placeholder="Nội dung góp ý"
          rows="3"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Gửi đi</button>
    </form>
  </div>
</div>
