body,
nav,
dropdown,
header {
  background-color: #f7f3eb;
}
.menu-subject > li {
  background-color: #f7f3eb;
}
.navbar-nav li a {
  color: #05192d;
}
.item-login {
  background-color: #f7f3eb;
}
.item-login li a {
  color: #05192d;
}
