<div
  class="row col-lg-9 col-md-12 content p-auto m-auto"
  style="background-color: #f7f3eb"
>
  <article class="row col-xxl-9 col-lg-8 col-md-8 col-sm-12 m-auto">
    <div class="list-cart row justify-content-center p-0 pt-0 m-auto">
      <h2 class="text-center">CSS Quiz</h2>
      <div class="time mt-3 d-flex justify-content-between align-items-stretch">
        <button class="btn btn-info pt-2 pb-2"><b>Nộp bài</b></button>
        <h3 class="d-flex align-items-center mb-0">00:00</h3>
      </div>
      <div class="question mt-3">
        <h4>Question 1 of 25:</h4>
        <h5>Nước nào sau đây có đất liền thấp hơn mực nước biển ?</h5>
        <div class="answer pt-3">
          <div class="form-check p-0">
            <input
              type="radio"
              class="form-check-input m-2"
              id="answer1"
              name="question2"
              value="answer1"
              checked
            />
            <label class="form-check-label pt-2 pb-2" for="answer1"
              >Hà Lan</label
            >
          </div>
          <div class="form-check p-0">
            <input
              type="radio"
              class="form-check-input m-2"
              id="answer2"
              name="question2"
              value="answer2"
            />
            <label class="form-check-label pt-2 pb-2" for="answer2"
              >Philippine</label
            >
          </div>
          <div class="form-check p-0">
            <input
              type="radio"
              class="form-check-input m-2"
              id="answer3"
              name="question2"
              value="answer3"
            />
            <label class="form-check-label pt-2 pb-2" for="answer3"
              >Italya</label
            >
          </div>
          <div class="form-check p-0">
            <input
              type="radio"
              class="form-check-input m-2"
              id="answer4"
              name="question2"
              value="answer4"
            />
            <label class="form-check-label pt-2 pb-2" for="answer4"
              >Bồ Đào Nhà</label
            >
          </div>
        </div>
      </div>
      <div class="question mt-3">
        <h4>Question 1 of 25:</h4>
        <h5>Nước nào sau đây có đất liền thấp hơn mực nước biển ?</h5>
        <div class="answer pt-3">
          <div class="form-check p-0">
            <input
              type="radio"
              class="form-check-input m-2"
              id="answer5"
              name="question3"
              value="answer5"
              checked
            />
            <label class="form-check-label pt-2 pb-2" for="answer5"
              >Hà Lan</label
            >
          </div>
          <div class="form-check p-0">
            <input
              type="radio"
              class="form-check-input m-2"
              id="answer6"
              name="question3"
              value="answer6"
            />
            <label class="form-check-label pt-2 pb-2" for="answer6"
              >Philippine</label
            >
          </div>
          <div class="form-check p-0">
            <input
              type="radio"
              class="form-check-input m-2"
              id="answer7"
              name="question3"
              value="answer7"
            />
            <label class="form-check-label pt-2 pb-2" for="answer7"
              >Italya</label
            >
          </div>
          <div class="form-check p-0">
            <input
              type="radio"
              class="form-check-input m-2"
              id="answer8"
              name="question3"
              value="answer8"
            />
            <label class="form-check-label pt-2 pb-2" for="answer8"
              >Bồ Đào Nhà</label
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row pagination m-auto">
      <nav aria-label="Page navigation example" class="p-0">
        <ul class="pagination justify-content-center p-2">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </article>
  <aside class="col-xxl-3 col-lg-4 col-md-4 col-sm-12 pb-3">
    <div class="card mt-3" style="background-color: #05192d">
      <div
        class="card-header text-white"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample"
        aria-expanded="true"
        aria-controls="collapseExample"
      >
        <b>Danh mục môn học</b>
      </div>
      <div class="list-subject collapse" id="collapseExample">
        <ul class="list-group list-group-flush menu-subject">
          <li class="list-group-item">
            <a href="">Kiểm thử</a>
          </li>
          <li class="list-group-item">
            <a href="">SQL Server</a>
          </li>
          <li class="list-group-item">
            <a href="">Điện toán đám mây</a>
          </li>
          <li class="list-group-item">
            <a href="">Lập trình PHP</a>
          </li>
          <li class="list-group-item">
            <a href="">Lập trình Android nâng cao</a>
          </li>
          <li class="list-group-item">
            <a href="">Thiết kế Layout</a>
          </li>
          <li class="list-group-item">
            <a href="">Quản lý dự án với Agile</a>
          </li>
          <li class="list-group-item">
            <a href="">Internet Marketing</a>
          </li>
          <li class="list-group-item">
            <a href="">Lập trình hướng đối tượng với java</a>
          </li>
          <li class="list-group-item">
            <a href="">Lập trình ASP.NET</a>
          </li>
        </ul>
      </div>
    </div>
  </aside>
</div>
