<div class="row content m-1 pb-3">
  <div class="col-lg-8 col-md-10 col-xs-12 m-auto">
    <h1 class="row justify-content-center p-3">Giới thiệu</h1>
    <!-- <div class="row col-lg-8 col-sm-10 col-xs-6 m-auto"> -->
    <img
      src="../assets/images/img-about/About_VN_20200923_01.jpg"
      width="100%"
      alt=""
    />
    <img
      src="../assets/images/img-about/About_VN_20200923_03.jpg"
      width="100%"
      alt=""
    />
    <img
      src="../assets/images/img-about/About_VN_20200923_05-scaled.jpg"
      width="100%"
      alt=""
    />
    <img
      src="../assets/images/img-about/About_VN_20200923_07.jpg"
      width="100%"
      alt=""
    />
    <img
      src="../assets/images/img-about/About_VN_20200923_09.jpg"
      width="100%"
      alt=""
    />
    <img
      src="../assets/images/img-about/About_VN_20200923_11.jpg"
      width="100%"
      alt=""
    />
    <!-- </div> -->
  </div>
</div>
