<div class="content row m-auto mt-5">
  <div
    class="form justify-content-center col-lg-5 col-md-7 col-sm-10 col-xs-12 p-3 m-auto"
  >
    <form action="" class="">
      <h2 class="text-center"><b>Đổi mật khẩu</b></h2>
      <div class="mb-3">
        <label for="pwd" class="form-label"><b>Mật khẩu mới</b></label>
        <div class="form-group pass_show">
          <input
            type="password"
            value=""
            class="form-control"
            placeholder="Nhập mật khẩu mới"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="pwd" class="form-label"><b>Xác nhận mật khẩu mới</b></label>
        <div class="form-group pass_show">
          <input
            type="password"
            value=""
            class="form-control"
            placeholder="Xác nhận mật khẩu mới"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
    </form>
  </div>
</div>
