<div class="content row m-auto">
    <div class="row content m-1">
        <div class="col-lg-7 col-md-10 col-xs-12 m-auto">
            <h1 class="row justify-content-center p-3">
                Câu hỏi thường gặp
            </h1>
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a
                            class="btn"
                            data-bs-toggle="collapse"
                            href="#q1"
                        >
                            <b>FPT Polytechnic là gì?</b>
                        </a>
                    </div>
                    <div
                        id="q1"
                        class="collapse show"
                        data-bs-parent="#accordion"
                    >
                        <div class="card-body">
                            <p>
                                Trường Cao đẳng FPT Polytechnic là
                                trường Cao đẳng trực thuộc Tổ chức Giáo
                                dục FPT (FPT Education)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a
                            class="collapsed btn"
                            data-bs-toggle="collapse"
                            href="#q2"
                        >
                            <b
                                >Hoàn thành khóa học của FPT Polytechnic
                                sẽ được nhận bằng cấp gì?</b
                            >
                        </a>
                    </div>
                    <div
                        id="q2"
                        class="collapse"
                        data-bs-parent="#accordion"
                    >
                        <div class="card-body">
                            <p>
                                Sinh viên khi hoàn thành khóa học 7 học
                                kỳ (2 năm 4 tháng không có nghỉ hè) của
                                FPT Polytechnic sinh viên sẽ nhận bằng
                                Cao đẳng chính quy tập trung do Trường
                                Cao đẳng FPT Polytechnic cấp theo quy
                                định của Tổng cục dạy nghề, Bộ Lao động
                                thương binh và xã hội.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a
                            class="collapsed btn"
                            data-bs-toggle="collapse"
                            href="#q3"
                        >
                            <b
                                >Giáo trình, tài liệu học tập và phòng
                                thực hành của trường được sử dụng như
                                thế nào?</b
                            >
                        </a>
                    </div>
                    <div
                        id="q3"
                        class="collapse"
                        data-bs-parent="#accordion"
                    >
                        <div class="card-body">
                            <p>
                                Sách giáo trình của trường được xây dựng
                                dựa trên sự hợp tác với các nhà xuất bản
                                uy tín như McGraw Hill, Pearson, Wiley…
                                Sinh viên cần mua sách để học tập vào
                                đầu mỗi học kỳ theo giá ưu đãi. Ngoài
                                ra, các sách tham khảo sinh viên có thể
                                đọc tại thư viện.
                            </p>
                            <br />
                            <p>
                                Trường có phòng máy thực hành để hỗ trợ
                                học tập cho sinh viên theo giờ học chính
                                khóa. Nếu phòng máy rảnh, sinh viên có
                                thể đăng ký để sử dụng máy tính ngoài
                                giờ hoàn toàn miễn phí.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a
                            class="collapsed btn"
                            data-bs-toggle="collapse"
                            href="#q4"
                        >
                            <b
                                >Trường đào tạo theo phương pháp
                                “project-based-training”, đó là gì
                                vậy?</b
                            >
                        </a>
                    </div>
                    <div
                        id="q4"
                        class="collapse"
                        data-bs-parent="#accordion"
                    >
                        <div class="card-body">
                            <p>
                                “Project- based-training” hay “đào tạo
                                theo dự án” là phương pháp đào tạo tiên
                                tiến dựa trên thực tiễn. Theo đó, sinh
                                viên sẽ được biết mục đích học tập của
                                mỗi môn học (case study), học kỳ
                                (project) tại đầu môn học. Quá trình học
                                tập là quá trình tìm tòi, học hỏi để
                                giải quyết vấn đề. Phương pháp này khác
                                với các phương pháp thụ động tiếp thu để
                                cuối cùng mới biết mình sẽ giải quyết
                                vấn đề gì. Phương pháp đào tạo theo dự
                                án nhằm làm tăng tính trải nghiệm dựa
                                trên mô phỏng thực tế công việc.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a
                            class="collapsed btn"
                            data-bs-toggle="collapse"
                            href="#q5"
                        >
                            <b
                                >Sinh viên đang theo học Cao đẳng và Đại
                                học khác có được ưu tiên miễn giảm gì
                                không?</b
                            >
                        </a>
                    </div>
                    <div
                        id="q5"
                        class="collapse"
                        data-bs-parent="#accordion"
                    >
                        <div class="card-body">
                            <p>
                                Theo phương châm là tạo điều kiện tối đa
                                cho các sinh viên theo học và tạo cơ hội
                                bình đẳng, không lãng phí thời gian của
                                người học, trường sẽ dựa trên kết quả
                                học tập các môn tương đương để miễn giảm
                                môn học, thời gian và học phí theo quy
                                định chuyển đổi tín chỉ. Khi nhập học,
                                bạn cần kèm theo hồ sơ bảng điểm và
                                chứng nhận đã hoàn thành các môn tại cơ
                                sở đào tạo trước.
                            </p>
                            <br />
                            <p>
                                Sinh viên FPT Polytechnic đã đạt các học
                                phần chung hoặc đã tốt nghiệp các trường
                                Đại học, Cao đẳng có học các học phần
                                chung có số ĐVHT bằng hoặc cao hơn số
                                tín chỉ trong chương trình đào tạo của
                                trường, được:
                            </p>
                            <br />
                            <div>
                                <ul>
                                    <li>
                                        Miễn học học phần Pháp luật.
                                    </li>
                                    <li>
                                        Miễn học học phần Kinh tế chính
                                        trị.
                                    </li>
                                    <li>
                                        Miễn học học phần Luật kinh tế.
                                    </li>
                                    <li>
                                        Miễn học học phần Soạn thảo văn
                                        bản hành chính.
                                    </li>
                                    <li>
                                        Miễn học học phần Tin học cơ sở.
                                    </li>
                                    <li>
                                        Miễn học học phần Tin học văn
                                        phòng.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a
                            class="btn"
                            data-bs-toggle="collapse"
                            href="#q7"
                        >
                            <b
                                >Sinh viên có cần có riêng máy vi tính
                                để học không?</b
                            >
                        </a>
                    </div>
                    <div
                        id="q7"
                        class="collapse"
                        data-bs-parent="#accordion"
                    >
                        <div class="card-body">
                            <p>
                                Nhà trường có đầy đủ phòng thực hành máy
                                tính và phòng tự học có trang bị máy
                                tính cho sinh viên. Có máy vi tính riêng
                                sẽ tốt cho bạn đặc biệt khi học Công
                                nghệ thông tin nhưng đó không phải là
                                quy định bắt buộc.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="form justify-content-center col-lg-5 col-md-7 col-sm-10 col-xs-12 p-3 m-auto"
    >
        <form action="" class="">
            <h2 class="text-center"><b>Đặt câu hỏi</b></h2>
            <div class="mb-3 mt-3">
                <label for="name" class="form-label"
                    ><b>Họ và tên</b></label
                >
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Nhập họ và tên"
                    name="name"
                />
            </div>
            <div class="mb-3 mt-3">
                <label for="email" class="form-label"
                    ><b>Email</b></label
                >
                <input
                    type="text"
                    class="form-control"
                    id="email"
                    placeholder="Nhập email"
                    name="email"
                />
            </div>
            <div class="mb-3 mt-3">
                <label for="phone" class="form-label"
                    ><b>Số điện thoại</b></label
                >
                <input
                    type="text"
                    class="form-control"
                    id="phone"
                    placeholder="Nhập số điện thoại"
                    name="phone"
                />
            </div>
            <div class="mb-3 mt-3">
                <label for="content" class="form-label">Nội dung</label>
                <textarea
                    class="form-control"
                    id="content"
                    placeholder="Nội dung góp ý"
                    rows="3"
                ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Gửi</button>
        </form>
    </div>
</div>