body,
nav,
dropdown,
header {
  background-color: #f7f3eb;
}
.list-cart > .card {
  width: 250px;
  height: 170px;
  background-color: #e7e9eb;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
.list-cart > .card h4,
i {
  color: #05192d;
}
.list-cart > .card:hover {
  box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.4);
}
.img-card {
  color: #f7f3eb;
  text-align: center;
}
.name-card {
  color: #f7f3eb;
}
.list-subject ul li a {
  text-decoration: none;
  color: #05192d;
}
.list-subject ul li a:hover {
  color: #0769ca;
}
