<div class="content row m-auto mt-5">
  <div
    class="form justify-content-center col-lg-6 col-md-7 col-sm-10 col-xs-12 p-3 m-auto"
  >
    <form action="" class="">
      <h2 class="text-center pb-4"><b>Thông tin cá nhân</b></h2>
      <div class="mb-3 d-flex align-items-center row">
        <label for="name" class="col-sm-2 col-form-label">Họ và tên</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" />
        </div>
      </div>
      <div class="mb-3 d-flex align-items-center row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" />
        </div>
      </div>
      <div class="mb-3 d-flex align-items-center row">
        <label for="masv" class="col-sm-2 col-form-label">Mã sinh viên</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="masv" />
        </div>
      </div>
      <div class="mb-3 d-flex align-items-center row">
        <label for="gender" class="col-sm-2 col-form-label">Giới tính</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="gender" />
        </div>
      </div>
      <div class="mb-3 d-flex align-items-center row">
        <label for="date" class="col-sm-2 col-form-label">Ngày sinh</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="date" />
        </div>
      </div>
      <div class="mb-3 d-flex align-items-center row">
        <label for="address" class="col-sm-2 col-form-label">Địa chỉ</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="address" />
        </div>
      </div>
      <div class="mb-3 d-flex align-items-center row">
        <label for="cccd" class="col-sm-2 col-form-label">Số CCCD / CMND</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="cccd" />
        </div>
      </div>
      <div class="mb-3 d-flex align-items-center row">
        <label for="special" class="col-sm-2 col-form-label"
          >Chuyên ngành</label
        >
        <div class="col-sm-10">
          <input type="text" class="form-control" id="special" />
        </div>
      </div>
      <div class="mb-3 d-flex align-items-center row">
        <label for="dateRegister" class="col-sm-2 col-form-label"
          >Ngày đăng ký</label
        >
        <div class="col-sm-10">
          <input type="text" class="form-control" id="dateRegister" />
        </div>
      </div>
      <button type="submit" class="btn btn-primary float-end">
        Lưu thông tin
      </button>
    </form>
  </div>
</div>
